.card-1 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-1-bg.png');
  background-size: cover;
}

.card-2 {
  display: flex;
  justify-content: flex-end;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-2-bg.png');
  background-size: cover;
}

.card-3 {
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-3-bg.png');
  background-size: cover;
}

div {
  margin-bottom: 20px;
  padding: 20px;
  font-family: 'Roboto';
}

h1 {
  color: #326a9d;
}

p {
  color: #64748b;
}

button {
  border-style: solid;
  background-color: transparent;
  border-color: #326a9d;
  color: #326a9d;
  padding: 10px;
  border-radius: 5px;
}

/* Write your code here. */
